# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
#*.jar
.project
.settings
.classpath
.factorypath
